doctype html
html
  head
    title #{title}
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    //link(rel='stylesheet', type='text/css', href='http://examples.sencha.com/extjs/6.2.0/classic/theme-gray/resources/theme-gray-all.css') 
    link(rel='stylesheet', type='text/css', href='http://examples.sencha.com/extjs/6.2.0/classic/theme-neptune/resources/theme-neptune-all.css')
    //link(rel='stylesheet', type='text/css', href="http://examples.sencha.com/extjs/6.2.0/classic/theme-gray/resources/theme-gray-all.css")
    //link(rel='stylesheet', type='text/css', href="http://examples.sencha.com/extjs/6.2.0/classic/theme-triton/resources/theme-triton-all.css")
    script(src='/javascripts/ext-all.js')       
    script(src='/javascripts/socket.io.js')
    | !{scripts}
    script(src='/javascripts/ace.js')
    script(src='/javascripts/Admin-Front.js')
  body(data-authorized="#{authorized}")